.parentTop ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.parentTop {
    position: relative;
    left: 0;
}

.imageCrema {
    background-image: url("media/web/crema_logo.jpg");
    background-size: contain;
    width: 87px;
    height: 87px;
    position: absolute;
    left: 0px;

}

.topnav {
    background-image: url("media/web/NavBar.png");
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    overflow: hidden;
    height: 96px;
    position: absolute;
    top: 0;
    width: 100%;
}

.active {
    color: #8cbf20;
    background-color: #262626;
}

.topnav a {
    float: left;
    color: dimgrey;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 30px 30px;
}

.topnav a:hover {
    color: white;
}

.topnav a:hover:not(.active) {
    color: #8cbf20;
}

.vl {
    border-left: 1px solid grey;
    height: 30px;
    position: relative;
    top: 30px;
}


.banner {
    background-image: url(media/web/banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    position: relative;

    padding: 2vh 2vh 2vh 2vh;

}

.title {
    background-image: url(media/web/title.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 40%;
    margin: 130px 0 0 0;
}

.aboutSection {
    background-color: #351f41;
    padding: 3vw 1vw 12vh 15vw;
    top: -26px;
    position: relative;
}

.titleText {
    color: #ffb544;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}

.aboutSection p {
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400;
}

.aboutSection li {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
}

a {
    color: white;
    font-size: 18px;
}

a:hover {
    color: #ffb544;
    text-decoration-line: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px 40px 10px 40px;
    height: 300px;
}

.left {
    width: 55%;
}

.right {
    width: 35%;
}


.mediaSection {
    background-color: #fdf3cf;
    padding: 3vw 1vw 12vh 15vw;
    top: -26px;
    position: relative;
}

.imageGrid {
    display: table;
    width: 100%;
}

.image {
    padding: 20px;
}

section {
    max-width: 1500px;
}

img {
    width: 350px;
    height: 350px;
    display: inline-block;
    object-fit: cover;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-color: #ffb544;
}


img:hover {
    border-style: solid;
    border-width: 10px;
    border-color: #ffb544;
    padding: 0px;
}
