
h1{
    font-family: 'Modak', cursive;
    color: orange;
}

.title
{
    font-family: 'Modak', cursive;
    color: orange;
    font-size: 100px;
    text-align: center;
}


.contact
{
    font-family: 'Modak', cursive;
    color: orange;
    font-size: 30px;
    white-space: normal;
    
}

.text
{
    font-family: 'Modak',;
    color: black;
    font-size: 13px;
}

