
h1{
    font-family: 'Modak', cursive;
    color: orange;
}

.title
{
    font-family: 'Modak', cursive;
    color: orange;
    font-size: 100px;
    text-align: center;
}



.letra
{
    font-family: 'Modak', cursive;
    color: cadetblue;
}