.title-text {
    font-family: 'Open Sans', ;
    font-weight: 900;
    color: orange;
    font-size: 40px;
    font-size: 4vw;
    white-space: normal;

}

.section{
    padding: 40px;
}

.contact-bg {
    background-color: #c14b57;
    margin: 2vh 10vw 2vh 10vw;
    align-self: center;
}

.contact-it {
    margin-bottom: 10px;
    margin-top: 10px;
}

.text {
    font-family: 'Modak', ;
    color: black;
    font-size: 13px;
}

@media screen and (max-width:799px) {
    .subText {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .subText {
        font-family: 'Modak', ;
        color: white;
        font-size: 30px;
        text-align: center;
        color: white;
        text-shadow:
            2px 2px 0 #383838;
        width: 800px;
        height: 200px;
        display: block;
    }
}

.video-sec {
    background-color: #351f41;
    padding: 1vh 1vw 2vh 1vw;
}



.banner {
    background-image: url(media/web/banner.jpg);
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;

    padding: 2vh 2vh 2vh 2vh;

}

.title {
    background-image: url(media/web/title.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 45%;
}

.buyButton {
    font-family: 'Anton', cursive;
    color: white;
    background-color: #FFB544;
    font-size: 20px;
    margin: auto;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 2px;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.buyButton:hover {
    color: #FFB544;
    border: active;
    border-color: #FFB544;
    background-color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #8cbf20;
    color: white;
    text-align: center;
    padding: 2vh 2vh 2vh 2vh;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column-video {
    float: left;
    width: 85%;
    height: 100%;
}

.column-robot {
    background-image: url(media/web/robot.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 2vw;
    
    float: left;
    width: 10%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}
